.logo {
  height: 100px;
  display: inline-block;
  margin: 10px;
}

.logo-wrapper {
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: left;
  background-color: #EEF5FD;
  width: 100%;
}

.main-content {
  margin-top: 100px;
}

.versionnummer {
  vertical-align: top;
  display: inline-block;
  padding-top: 15px;
}

@media screen and (max-width: 600px) {
  .logo {
    height: 75px;
  }
}
