.logo{
  height: 100px;
  display: inline-block;
}
.logo-wrapper{
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
}
.main-content{
  margin-top: 100px;
}
.versionnummer{
  vertical-align: top;
  display: inline-block;
  padding-top: 15px;
}
