<section class="container">
  <h1 class="pageheader">{{isNew()?'User létrehozása':'User módosítása'}}</h1>
  <form [formGroup]="detailForm" (ngSubmit)="onSave(detailForm)" #ngForm="ngForm">
    <div class="formelements">
      <div class="row col-100">
        <label class="control-label required" for="firstname">
          Keresztnév:
        </label>

        <input type="text" formControlName="firstname" placeholder="Keresztnév" id="firstname">

        <div *ngIf="detailForm.get('firstname')?.invalid && ngForm.submitted" class="error-message">
          Legalább 2 karakter és legfeljebb 64 karakter lehet!
        </div>
      </div>
      <div class="row col-100">
        <label class="control-label required" for="lastname">
          Vezetéknév:
        </label>

        <input type="text" formControlName="lastname" placeholder="Vezetéknév" id="lastname">

        <div *ngIf="detailForm.get('lastname')?.invalid && ngForm.submitted" class="error-message">
          Legalább 2 karakter és legfeljebb 64 karakter lehet!
        </div>
      </div>
      <div class="row col-100">
        <label class="control-label" for="address">
          Cím:
        </label>
        <input type="text" formControlName="address" placeholder="Cím" id="address">
        <div *ngIf="detailForm.get('address')?.invalid && ngForm.submitted" class="error-message">
          Legfeljebb 128 karakter lehet!
        </div>
      </div>
      <div class="row col-100">
        <label class="control-label" for="telephone">
          Telefonszám:
        </label>
        <input type="text" formControlName="telephone" placeholder="Telefonszám" id="telephone">
        <div *ngIf="detailForm.get('telephone')?.invalid && ngForm.submitted" class="error-message">
          Legfeljebb 128 karakter lehet!
        </div>
      </div>
      <div class="row col-100">
        <label class="control-label required" for="job">
          Foglalkozás:
        </label>
        <select formControlName="job" id="job">
          <option *ngFor="let j of jobs | keyvalue" [ngValue]="j.value">{{j.key}}</option>
        </select>
      </div>
      <div class="row col-100" *ngIf="!isNew()">
        <label class="control-label required" for="status">
          Aktív:
        </label>
        <input type="checkbox" formControlName="status" id="status">
      </div>



      <div class="buttons">
        <button (click)="onCancel()">Mégsem<br />(F3)</button>
        <paradise-deletebutton *ngIf="!isNew()" [fullname]="user.fullname" [id]="user.id" keyboardkey="f8"
          (isConfirmed)="onDelete($event)">Törlés<br />(F8)</paradise-deletebutton>
        <button type="submit" class="primary">Mentés<br />(F2)</button>
      </div>
    </div>
    <ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
  </form>
</section>
